.buttonbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin-bottom: 10vh;
  width: 100%;
}
.button {
  height: 100px;
  width: 100px;
}
.button__icon {
  height: 60px;
}
