.cardbar {
  display: flex;
  justify-content: center;
  position: relative;
}
.cardbar__container {
  display: flex;
  justify-content: center;
  margin-top: 8vh;
  height: 60vh;
  position: relative;
}
.swipe {
  position: absolute;
}
